.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1140px;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 1140px) {
    .container {
        max-width: 100%;
        grid-template-columns: 1fr;
        position: relative;
    }
}

