.containerRow {
    display: flex;
    gap: 8px;
}

.containerColumn {
    display: flex;
    flex-direction: column;
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 1140px) {
    .containerColumn {
       display: none;
    }
}