.container {
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(450px, 1fr) minmax(300px, 1fr);
    width: 100%;
    padding-top: 60px;
}

.navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 20px 0 30px;
    max-width: 215px;
}

.navTitleText {
    color: #656566;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    margin: 0;
}

.navText {
    text-decoration: none;
    color: #E4E5EA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.phoneText {
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px
}

.copyright {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.copyrightLink{
    color: #E4E5EA;
}

.twoColumns{
    display: flex;
    gap: 52px;
}

.social {
    display: flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


@media (max-width: 1250px) {
    .container {
        grid-template-columns: 1fr 1fr;
        padding: 45px 15px 60px;
    }
    .contact{
        align-items: flex-start;
    }
    .copyright{
        align-items: flex-start;
        padding-top: 30px;
    }
    .navText {
        font-size: 14px;
    }
    .contact {
        gap: 8px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 320px) {


}