.header {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.contacts {
    display: flex;
    gap: 47px;
    flex-wrap: wrap;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.text {
    text-decoration: none;
    color: #E4E5EA;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.mobileMenu{
    display: none;
}
.desktopMenu {
    display: flex;
}

.social {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .header {
        padding: 20px 0 20px;
    }
    .mobileMenu {
        display: flex;
    }
    .desktopMenu {
        display: none;
    }
    .contacts {
        display: none
    }
    .navbar{
        gap: 16px;
    }
    .text{
        font-size: 12px;
        text-transform: uppercase;
    }
}

@media (max-width: 320px) {
    .header {
        justify-content: center;
    }
}